# IGNORE
bin/
obj/
packages/
!packages/repositories.config
*.suo
*.DotSettings.user
*.csproj.user
*.ReSharper.user
_Resharper*
gpgme-sharp.userprefs
.vs/
~*
*/~*

# macOS system files
.DS_Store
**/.DS_Store

# Working directory for temporary files and analysis scripts
working/